< <table id="table">

    <tr>
        <th id="check">
            <input type="checkbox" id="checkBoxAll" name="checkBoxAll" [checked]="checkAll" (change)="checkBoxFunction($event)">
        </th>
        <th>Title</th>
        <th>Director</th>
        <th>Opening Crawl</th>
        <th>Created</th>
    </tr>
    <!-- át kéne passzolni a film "episod_id"-t és ez alapján adnánk vissza a karaktereken-->
    <tr id="tableRow" *ngFor="let results of filmList" onclick="showCharacters()">
        <td id="checkbox-row ">
            <input type="checkbox" id="checkBox1" name="checkBox1" [checked]="checkBoxs">
        </td>
        <td id="filmParams">{{results.title}}</td>
        <td id="filmParams">{{results.director}}</td>
        <td id="filmParams">{{results.opening_crawl}}</td>
        <td id="filmParams">{{results.release_date.toISOString().split('T')[0]}}</td>

    </tr>

    </table>