<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
</head>

<body>
    <header>
        <div id="Header">
            <h1 id="HeadText">Star Wars</h1>

        </div>
    </header>

    <app-search>
    </app-search>

    <app-movies-table>
    </app-movies-table>

    <app-characters>
    </app-characters>

    <footer>

    </footer>


</body>

</html>