<table id="charactersTable" [hidden]="hidden_character">

    <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Hair Color</th>
        <th>Birth Year</th>
    </tr>
    <!-- át kéne passzolni a film "episod_id"-t és ez alapján adnánk vissza a karaktereken-->
    <tr id="tableRow" *ngFor="let character of characterList" onclick="showCharacters($event)">

        <td>{{character.name}}</td>
        <td>{{character.height}}</td>
        <td>{{character.hair_color}}</td>
        <td>{{character.birth_year}}</td>

    </tr>

</table>